/*Normalize css*/

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.paddingExtraTB {
    padding: 30px 0;
}

.noMargin {
    margin: 0;
}

.paddingExtraB {
    padding-bottom: 30px;
}

.noPadTop {
    padding-top: 0 !important;
}

.noPad {
    padding: 0 !important;
}